@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 32px;
}

h2, p, a, label, input::placeholder, textarea::placeholder, input, textarea, button{
    font-family: 'Righteous', cursive;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho {
    background: linear-gradient(90deg, #48CAE4 0%, #48CAE4 100%);
    padding: 32px 0;
    color: #fff;
}

.links_menu>a {
    padding: 12px 15px;
}

.links_menu>a:hover {
    opacity: 0.5;
}

.link_ativo {
    text-decoration: underline;
}

.btn {
    padding: 22px 42px;
    font-size: 18px;
    border: none;    
    border-radius: 8px;
    background: linear-gradient(90deg, #CAF0F8 0%, #ADE8F4 100%);
    color: #03045E;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.logo>i {
    background-color: #BC3FDB;
    font-size: 32px;
}

main {
    background-color: #f3f5f7;
    padding: 64px 0;
    min-height: 90vh;
    background: 
        linear-gradient(90deg, rgba(219, 73, 196, 0.3) 0%, rgba(188, 62, 219, 0.3) 100%);
        background-image: url(../img/img1.jpg);
    background-position: 15% 15% 40% 15%;
}

footer {
    text-align: center;
    padding: 8px 0;
    background-color: #03045E;
    color: #fff;
}